<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MbUnit.Framework" publicKeyToken="5E72ECD30BC408D5" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.355" newVersion="2.4.2.355"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TestFu" publicKeyToken="5E72ECD30BC408D5" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.355" newVersion="2.4.2.355"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="QuickGraph" publicKeyToken="975E84D0C8D6464D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.355" newVersion="2.4.2.355"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Refly" publicKeyToken="829676E11975A31C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.355" newVersion="2.4.2.355"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="QuickGraph.Algorithms" publicKeyToken="975E84D0C8D6464D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.355" newVersion="2.4.2.355"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
