<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ExamplesFolder" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Examples">
            <Component Id="cmpCD62905572971A23B44EDC29B8D55896" Directory="ExamplesFolder" Guid="{BBED9FDA-50B3-4613-A09B-10718FF2A4C0}">
                <File Id="filF51EAFCAEF19F5B5035C1E74353F82C2" KeyPath="yes" Source="$(var.DeployDir)\4-Hydroxy-Diclofenac.pkml" />
            </Component>
            <Component Id="cmpD52AF4C474EC0A3C00DF0300240A196F" Directory="ExamplesFolder" Guid="{5873ABDB-36C5-4411-A6B7-77AA9992194E}">
                <File Id="fil919305BD9D937C8D4F2EFABCABE475EC" KeyPath="yes" Source="$(var.DeployDir)\ManualModel_Sim.mbp3" />
            </Component>
            <Component Id="cmpFF03211F17FEF91BB2D16FDDAE537C9B" Directory="ExamplesFolder" Guid="{25263C55-122C-4413-84A8-8DAAD0AE4FE7}">
                <File Id="fil503422A91202FF3541ED4EE3CCDF276E" KeyPath="yes" Source="$(var.DeployDir)\PK_Manual_Diclofenac.mbp3" />
            </Component>
            <Component Id="cmpEBF5804DD674D78EFA6406447A394918" Directory="ExamplesFolder" Guid="{BF561F65-7C7E-4D6A-BB88-4C644E5D75EC}">
                <File Id="filCAE51B3CFD67E2BAB725A66462E385CB" KeyPath="yes" Source="$(var.DeployDir)\Study Protocol 50 mg Diclofenac IR Tablet Single Dose.pkml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>